
<%= image_tag @user.avatar.url(:thumb), :class => "profile-photo" %></br / >
Member since : <%= @user.created_at.strftime("%b %d, %Y") %><br />
Here you will see your latest Resume. You will be able to create and update then and catigorize them .

<%= link_to "Add New Project" , new_project_path %>

<div class="row">
<% @user.projects.each  do |project| %>
<div class="project" >
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <%= image_tag project.preview.url(:large), class: 'preview-image' %>
      <div class="caption">
        <h3> <%= project.title.truncate(23) %> </h3>
        <p><%= project.description.truncate(65) %>
        <p class="thumbnail-links"><%= link_to "Info" , project, class: 'btn btn-primary' %> <%= link_to "Github" , project.project_link, class: 'btn btn-primary', role: 'button' %>  </p>
      </div>
    </div>
  </div>
</div>
 <% end %>
 </div>
