<%= form_for [project] do  |f| %>
  <div class="filed" >
    <%= f.file_field :preview  %>
  </div>

  <div class="field" >
    <%= f.label :title %>
    <%= f.text_field :title , autofocus: true, class: 'form-control', placeholder: "Project Title "%>
  </div>

  <div class="field" >
    <%= f.label :description  %>
    <%= f.text_field :description , autofocus: true, class: 'form-control', placeholder: "Short Project description " %>
  </div>

  <div class="form-group">
    <%= f.select(:code_type, Project.code_types.keys.map {|type| [type.titleize,type]}) %>
  </div>

  <div class="field" >
    <%= f.label :body  %>
    <%= f.text_area :body, rows: 10 , autofocus: true, class: 'form-control', placeholder: "What does your project do ? What problems did you encounter?" %>
  </div>

  <div class="field" >
    <%= f.label :Github_link %>
    <%= f.text_field :project_link, autofocus: true, class: 'form-control', placeholder: "http://www.github.com/" %>
  </div>

  <div class="field" >
    <%= f.label :Date_started  %>
    <%= f.date_select(:date_started, start_year: 1990) %>
  </div>

  <div class="form-group">
    <%= f.label :completed %>
    <%= f.check_box  :completed%>
  </div>
<%= f.submit "Submit Item", class: 'btn btn-primary pull-right' %>
<% end %>
