<div class="content" >
<br />


<div class="media">
  <center> <%= image_tag @project.preview.url(:large), class: 'project-image' %></center>
  <div class="media-body">
    <h2 class="media-heading">
     <center><%= @project.title %>
     <% unless @project.project_link == nil %> <%= link_to "Githib" , @project.project_link , class: 'btn btn-primary'%><br / >
     <% end %>
   </center>
     </h2>
     <center>
     <%= @project.description %>
     </center>

   <center>
    <small>
     <%= @project.date_started.strftime(" %B %d %Y") %>
    </small>
  </center>


    <%= markdown (@project.body) %>
  </div>
</div>


<%= link_to "Update", edit_project_path, class: 'btn btn-primary' %>
<%= link_to "Delete", project_path(@project) ,  method: 'delete', class: 'btn btn-warning',data: { confirm: 'Are you sure you want to delete this Project?' } %>
</div>
